@charset "UTF-8";
/* -------------------------------------------- */
/* りセット */
/* -------------------------------------------- */
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea, td, tr, th {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  border-radius: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
.inner {
  margin: 0 auto;
  max-width: 1085px;
  width: 100%;
  padding: 0 20px;
}

section {
  padding: 80px 0;
}

.bg--color {
  background-color: #F5EFD7;
}

.topPage-title {
  font-size: 24px;
}

.article-heading__wrapper {
  position: relative;
}
.article-heading__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/ico_cat.svg) center/cover no-repeat;
  width: 20px;
  height: 46px;
  left: 10px;
  top: 8px;
}

.article-heading {
  border-bottom: 2px solid #CEB967;
  padding: 10px 0px;
  margin-left: 32px;
  margin-top: 80px;
}

.section-title {
  text-align: center;
}

.btn {
  border-radius: 6px;
  text-align: center;
  display: block;
  padding: 15px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s;
  line-height: 1;
}

.btn-more {
  border: 1px solid #341E12;
  width: 90%;
  margin: 0 auto;
}
.btn-more::after {
  content: "";
  border-top: 2px solid;
  border-right: 2px solid;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  display: inline-block;
  margin-left: 2px;
}
.btn-more:hover {
  background-color: #f5efd7;
  border-color: #ceb967;
}

@media (min-width: 768px) {
  .topPage-title {
    font-size: 30px;
  }

  .article-heading {
    padding: 12px 0px;
    margin-left: 64px;
  }

  .article-heading__wrapper::before {
    width: 30px;
    height: 67px;
    left: 16px;
    top: -2px;
  }
}
/* -------------------------------------------- */
/* ヘッダー */
/* -------------------------------------------- */
.header {
  width: 100%;
}
.header__top-only-wrapper {
  display: flex;
  flex-direction: column;
}
.header__pc-right {
  border-top: 1px solid #341E12;
  border-bottom: 1px solid #341E12;
  padding: 30px 0;
  font-size: 16px;
}
.header .mainvisual {
  width: 100%;
}
.header .mainvisual img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

@media (min-width: 768px) {
  .header__top-only-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header__pc-left {
    width: 39.2592592593%;
  }
  .header__pc-right {
    border-top: 1px solid #341E12;
    border-bottom: 1px solid #341E12;
    padding: 42px 55px;
    font-size: 20px;
    width: 57.7777777778%;
    margin: 30px 0;
  }
}
/* -------------------------------------------- */
/* グローバルナビ */
/* -------------------------------------------- */
.sp-nav__wrapper {
  display: none;
  position: fixed;
  padding: 30px 20px;
  top: 0;
  left: 0;
  background-color: #F5EFD7;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
}
.sp-nav__body {
  margin-top: 35px;
  font-size: 14px;
  font-weight: bold;
}
.sp-nav__list {
  border-bottom: 1px dashed #341E12;
}
.sp-nav__list:first-child {
  border-top: 1px dashed #341E12;
}
.sp-nav__link {
  padding: 13px;
  display: block;
}
.sp-nav__sub-link-wrapper {
  font-size: 12px;
  margin-top: 40px;
}
.sp-nav__low {
  padding-right: 4px;
  border-right: 1px solid #341E12;
}

.menuBtn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #341E12;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 100;
}

.btnStyle {
  background-color: #CEB967;
}

.pc-gnav {
  display: none;
  height: 75px;
  font-size: 20px;
}
.pc-gnav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.pc-gnav__item:not(:last-child) {
  margin-right: 50px;
}
.pc-gnav__link {
  display: flex;
  align-items: center;
}
.pc-gnav__link::before {
  content: "";
  background: url(../images/ico_paw.svg) center/contain no-repeat;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
}

@media (min-width: 768px) {
  .pc-gnav {
    display: block;
  }

  .menuBtn {
    display: none;
  }
}
/* -------------------------------------------- */
/* お知らせ */
/* -------------------------------------------- */
.news__list-wrapper {
  margin-top: 20px;
}
.news__list {
  border-bottom: 1px dashed #CEB967;
  padding: 15px 0;
}
.news__list:first-child {
  border-top: 1px dashed #CEB967;
}
.news__posted {
  min-width: 90px;
  display: block;
}
.news__label {
  padding: 4px 10px;
  display: inline-block;
  background: #F5EFD7;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  min-width: 92px;
  text-align: center;
}
.news__label.label--new {
  background-color: #F7320E;
  color: #fff;
}
.news__link {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .news__list-wrapper {
    margin-top: 40px;
  }
  .news__list {
    display: flex;
  }
  .news__posted {
    margin-right: 25px;
  }
  .news__label {
    margin-right: 15px;
  }
}
/* -------------------------------------------- */
/* おすすめ */
/* -------------------------------------------- */
.recommend__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.recommend__card {
  border: 1px solid #ddd;
  padding: 20px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recommend__image {
  position: relative;
}
.recommend__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommend__image::before {
  content: "";
  display: block;
  padding-top: 60%;
}
.recommend__title {
  border-bottom: 1px dashed #CEB967;
  margin-top: 30px;
  font-size: 18px;
}
.recommend__text {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}
.recommend__price {
  text-align: right;
  font-weight: bold;
  margin-top: auto;
}
.recommend__tax {
  font-size: 12px;
}
.recommend__link {
  margin-top: 10px;
}

@media (min-width: 576px) {
  .recommend__list {
    flex-direction: row;
  }
  .recommend__card {
    width: calc((100% - 20px) / 2);
  }
}
@media (min-width: 768px) {
  .recommend__card {
    width: calc((100% - 40px) / 3);
  }
}
/* -------------------------------------------- */
/* カテゴリ */
/* -------------------------------------------- */
.category__body {
  border: 1px solid #ddd;
  margin-top: 20px;
}
/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* フッター */
/* -------------------------------------------- */
.footer {
  background-color: #341E12;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 12px;
  text-align: center;
}
.footer__link-wrapper .link-wrapper__low {
  border-right: 1px solid #fff;
}
.footer__copy {
  margin-top: 60px;
}
.footer__low {
  border-right: 1px solid #fff;
}

.footer-nav__list {
  border-bottom: 1px dashed #fff;
}
.footer-nav__list:first-child {
  border-top: 1px dashed #fff;
}

@media (min-width: 768px) {
  .footer__sub-link-wrapper {
    margin-top: 10px;
  }

  .footer-nav {
    margin-top: 20px;
    font-size: 12px;
  }
  .footer-nav__items {
    display: flex;
    justify-content: center;
  }
  .footer-nav__list {
    border-bottom: 0px dashed #fff;
    border-left: 1px solid #fff;
  }
  .footer-nav__list:first-child {
    border-top: 0px dashed #fff;
    border-left: 0px solid #fff;
  }
  .footer-nav__link {
    display: inline-block;
    padding: 0 10px;
    line-height: 1;
  }
}
/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */